.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 70%;
    font-weight: 600;
    height: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px 15px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #333;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -4px;
    margin-right: 4px;
}

.inputFile + label {
   gradient: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.inputFile + label {
    border: 1px solid  #13547a;
    background-color: #dddddd;
    padding: 0;
}

.inputFile:focus + label,
.inputFile.has-focus + label,
.inputFile + label:hover {
    border-color: #043755;
}

.inputFile + label span,
.inputFile + label strong {
    padding: 12px 20px;
}

.inputFile + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputFile + label strong {
    height: 100%;
    color: #dddddd;
    background:  linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    display: inline-block;
}

.inputFile:focus + label strong,
.inputFile.has-focus + label strong,
.inputFile + label:hover strong {
    /*background: linear-gradient(15deg, #043755 0%, #52aea4 100%);
}*/background:  linear-gradient(15deg, #80d0c7 0%, #13547a 100%);}

@media screen and (max-width: 50em) {
	.inputFile + label strong {
		display: block;
	}
}

li{
    color: #80d0c7;
}