*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #C9CCD3 linear-gradient(90deg, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
	background-blend-mode: lighten;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Montserrat', sans-serif;
}

a {
	outline: none;
	color: #16a085;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #f4d03f;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
/* Content */

#loadBox{
	background-image: linear-gradient(to bottom, #434343 0%, black 100%);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	text-align: left;
	display: inline;
	padding: 5px 10px 0 10px;
}
#loadBox:after{
	clear: both;
}
#loadBox:before{
	display: table;
	content: "";
	line-height: 0;
}

#loadBox footer {
	color: #dddddd;
	margin-top: 40px;
}

#loadBox footer a:hover,
#loadBox footer a:focus {
	color: #f4d03f;
}

#sideBox {
	background-image: linear-gradient(to top, #434343 0%, black 100%);
	width: 215px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	padding-top: 40px;
	z-index: -1;
	display: flex;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#sideBox h2{
	font-weight: 300;
	color: #dddddd;
}


